<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    
    <title>Earthquake Visualization</title>

    <link rel='stylesheet' type='text/css' href='{{url_for('static',filename='css/normalize.css')}}'>
    <link rel='stylesheet' type='text/css' href='{{url_for('static',filename='css/skeleton.css')}}'>
    <link rel='stylesheet' type='text/css' href='{{url_for('static',filename='css/style.css')}}'>

    <link rel='icon' type='image/png' href='{{url_for('static', filename='images/favicon.png')}}'>

  </head>

  <body>
    <div class='container' style='margin:5% auto;'>
      <h1 style='text-align:center;'>Heatmap</h1>
    </div> <!-- endof container -->

    <div class='row'>
      <div class='six columns'>
        <div id='map'></div>
        <div id='options_panel'>
          <button onClick='resetMaps()'>RESET</button>
        </div>
      </div>
    
    <div class='row'>
      <div class='six columns'>
        <div id='interaction'>
          <div>
            <div id='radarChart'></div>
            <!-- More interaction stuff here -->
          </div>

          <div id="year-filter">
              Year Range - Minimum: <span id="year-min-val">2000</span>
              <input type='range' min='2000' max='2018' value='2000' class='slider' id='min-year' onchange="setYearRange()">
              <input type='range' min='2000' max='2018' value='2018' class='slider' id='max-year' onchange="setYearRange()">
              Maximum: <span id="year-max-val">2018</span>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
        <div id="magnitude-filter" class='five columns'>
            <div>
              Magnitude Range
              <input type='checkbox' id='magnitude-filter-is-on' onchange="setMagnitudeRange()">
            </div>

            Minimum: <span id="mag-min-val">0</span>
            <input type='range' min='0' max='10' value='0' class='slider' id='min-mag' onchange="setMagnitudeRange()" step="any">

            Maximum: <span id="mag-max-val">10</span>
            <input type='range' min='0' max='10' value='10' class='slider' id='max-mag' onchange="setMagnitudeRange()" step="any">
        </div>
    </div>

    <!-- Scripts -->
    <script
    src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>

    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKGtYtK-TqXmLFYJzj-rJoNOGWcmx39JE&libraries=visualization&callback=initMap">
    </script>

    <script type="text/javascript" src='{{url_for('static', filename='js/radarChart.js')}}'></script>
    <script type="text/javascript" src='{{url_for('static', filename='js/heatmap.js')}}'></script>
    <script type="text/javascript" src='{{url_for('static', filename='js/filters.js')}}'></script>
  </body>

</html>
