<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    
    <title>Earthquake Visualization</title>

    <link rel='stylesheet' type='text/css' href='{{url_for('static',filename='css/normalize.css')}}'>
    <link rel='stylesheet' type='text/css' href='{{url_for('static',filename='css/skeleton.css')}}'>
    <link rel='stylesheet' type='text/css' href='{{url_for('static',filename='css/style.css')}}'>

    <link rel='icon' type='image/png' href='{{url_for('static', filename='images/favicon.png')}}'>

  </head>

  <body>
    <div class='container' style='margin:5% auto;'>
      <h1 style='text-align:center;'>Heatmap</h1>

      <div class='row'>
        <div class='six columns'>
          <div id='map'></div>
        </div>
     
      <div class='row'>
        <div class='six columns'>
          <div id='options_panel'>
            <button onClick='changeGradient()'>Change gradient</button>
          </div>
        </div>
      </div>


      </div>
    </div> <!-- endof container -->

    <!-- Scripts -->
    <script
    src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>

    <script src="//d3js.org/d3.v3.min.js"></script>

    <!-- use later for buttons
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    --> 

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKGtYtK-TqXmLFYJzj-rJoNOGWcmx39JE&libraries=visualization&callback=initMap">
    </script>

    <script type="text/javascript" src='{{url_for('static', filename='js/heatmap.js')}}'></script>
  </body>

</html>
