/* GOOGLE HEATMAP */
html, body {
  width: 100%;
}

#map {
  width: 1024px;
  height: 1024px;
}

#options_panel {
	position: fixed;
	top: 10%;
	left: 5px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	text-align: center;
	line-height: 30px;
}
